//icons names corresponding to images names
$icon-list :

//context menu
fm_right_click_open_icon
//
fm_right_click_move_icon
fm_right_click_copy_icon
//
fm_right_click_rename_icon
fm_right_click_offline_icon
fm_right_click_share_icon
fm_right_click_print_icon
fm_right_click_download_icon
//
fm_right_click_trash_icon
//
fm_right_click_cut_icon
fm_right_click_paste_icon
fm_right_click_duplicate_icon

//toolbar

fm_header_trash_icon
fm_header_download_icon
fm_header_share_icon
fm_header_offline_icon
fm_header_duplicate_icon
fm_header_move_icon
fm_header_add_folder_icon

fm_header_add_icon
fm_header_upload_icon

fm_dialog_delete_icon
fm_main_check_field
fm_main_check
fm_dialog_add_icon

fm_navigation_company_icon

//breadcrumbs
fm_header_folder_icon

//right info bar
fm_file_info_company_icon
fm_file_info_deleted_icon
fm_file_info_flagged_icon
fm_file_info_folder_icon
fm_file_info_folder_icon_disabled
fm_file_info_folder_icon_selected
fm_file_info_multiselection_icon
fm_file_info_offline_icon
fm_file_info_recent_icon
fm_file_info_search_icon
fm_file_info_shared_icon
fm_file_info_trash_icon

//create dropdown
fm_insert_p_icon
fm_insert_s_icon
fm_insert_t_icon

//grid icons
fm_main_archive_icon
fm_main_audio_icon
fm_main_csv_icon
fm_main_docx_icon
fm_main_folder_icon
fm_main_image_icon
fm_main_odp_icon
fm_main_ods_icon
fm_main_odt_icon
fm_main_p_icon
fm_main_pdf_icon
fm_main_pptx_icon
fm_main_rtf_icon
fm_main_s_icon
fm_main_t_icon
fm_main_txt_icon
fm_main_unknown_icon
fm_main_video_icon
fm_main_xlsx_icon

//search
fm_header_search_erase_icon

//create dropdown
fm_insert_p_icon
fm_insert_s_icon
fm_insert_t_icon

//resizer
fm_left_list_close_icon
fm_left_list_open_icon

fm_dialog_check_icon
fm_dialog_check_icon_hover

//aside closer
fm_file_info_open_icon

;

$icon-list-hover :

    //toolbar

fm_header_trash_icon
fm_header_download_icon
fm_header_share_icon
fm_header_offline_icon
fm_header_duplicate_icon
fm_header_move_icon
fm_header_add_folder_icon

fm_header_add_icon
fm_header_upload_icon

fm_dialog_delete_icon
fm_main_check_field
fm_main_check
fm_dialog_add_icon

//breadcrumbs
fm_header_folder_icon

//create dropdown
fm_insert_p_icon
fm_insert_s_icon
fm_insert_t_icon

//search
fm_header_search_erase_icon

//create dropdown
fm_insert_p_icon
fm_insert_s_icon
fm_insert_t_icon

//resizer
fm_left_list_close_icon
fm_left_list_open_icon

//aside closer
fm_file_info_open_icon

;

$icon-list-disabled :

    //toolbar

fm_header_trash_icon
fm_header_download_icon
fm_header_share_icon
fm_header_offline_icon
fm_header_duplicate_icon
fm_header_move_icon
fm_header_add_folder_icon

fm_header_add_icon
fm_header_upload_icon

fm_dialog_delete_icon

//breadcrumbs
fm_header_folder_icon

//search
fm_header_search_erase_icon

;

$icon-list-active :

    //toolbar

fm_header_trash_icon
fm_header_download_icon
fm_header_share_icon
fm_header_offline_icon
fm_header_duplicate_icon
fm_header_move_icon
fm_header_add_folder_icon

fm_dialog_delete_icon
fm_header_add_icon
fm_header_upload_icon
fm_dialog_add_icon


fm_dialog_delete_icon

//breadcrumbs
fm_header_folder_icon

//search
fm_header_search_erase_icon

//aside closer
fm_file_info_open_icon
;